<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <title>My test page</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"> 
        <div class="navbar-text text-light">Today's Poll</div>
           </nav>

      <div class="container">
          <div class="row">
              <div class="col-md m-3 p-2">

            
         
   
   
    
     
    {% block content %}


    {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>